.calendar__day {
  width: $day-size;
  height: $day-size;
  border: $day-border solid black;
  background-color: $day-bg;
  position: relative;
  font-family: Arial, sans-serif;
  transition: $transition;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: $hover-bg;
    transform: translateY($hover-move);
  }
}
